---
layout: blog
title: index
permalink: /
---


<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Josh Darling</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">     
        <li><a href="/">{{ site.index.home }}</a></li>
        <li><a href="/about/">{{ site.index.about }}</a></li>
        <li><a href="/life/">{{ site.index.life }}</a></li>
        <li><a href="/videos/">{{ site.index.videos }}</a></li>
        <li><a href="/clothing/">{{ site.index.clothing }}</a></li>
        <li><a href="/reviews/">{{ site.index.reviews }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Lastest Posts</h2>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="wrapper wrapper-content">
      
        {% for post in paginator.posts %}
        
            <div class="content">
              <h3><a href="{{ post.url }}" class="vote-title">
                  {{ post.title }}
              </a></h3>
              <p> {{ post.desc }} </p>
              <a href="#">{{ post.date | date: "%-d %b %Y" }}</a>
              
            </div>
        {% endfor %}
        
        
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
        
        
      </div> 
    </div>
  </div> 

</div>



























